<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
        {% block body %}
        <div>
            <h1>Facto</h1>
            <form action="{{ path("app_facto") }}" method="get">
                <label>Entrez un nombre n</label>
                <input type="number" id="nfacto" name="n" required>
                <button type="submit">Calculer n!</button>
            </form>
            <div>
                Valeur de n : {{nValueFact}}
            </div>
            <h3>Résultat : {{ resultFacto }}</h3>
        </div>

        <div>
            <h1>Combinaison</h1>
            <form action="{{ path('app_combi') }}" method="get">
                <label>Entrez n :</label>
                <input type="number" id="nCombi" name="n" required>
                <label>Entrez p :</label>
                <input type="number" id="pCombi" name="p" required>
                <button type="submit">Calculer C(n, p)</button>
            </form>
            <div>
                Valeur de n : {{nValueCombi}}
                Valeur de p : {{pValueCombi}} 
            </div>
            <h3>Résultat : {{ resultCombi }}</h3>
        </div>

        <div>
            <h1>Mastermind</h1>
            <form action = "{{ path('app_mastermind') }}" method ="get">
                <button type="submit"> Allez vers le Mastermind</button>
            </button>
        </div>
        {% endblock %}
    </body>
</html>